#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 
   
- To List popular Data Science languages
- To List popular Data Science Libraries
- To List popular Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C programming
4. C ++
5. PHP

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. sklearn
5. tensorflow



| Data Science Tools     |
|----------------|
| Pandas |
| Numpy |
| Matplotlib |
| SKlearn |
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Dr. Babasaheb Satpute